footer {
    padding: 1em 4em 4em 4em;
    background: #006dccd5;
    font-size: 0.85em;
    color:white;
}
footer small {
    padding-left: 40px;
}

footer a{
    text-decoration: none;
    color:white;
}

footer .social a {
    margin: 0.6em;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.heading3{
    font-weight: bold;
    font-size: 1.2em;
}