.committees .container{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 1em;
}

.committees .container h3 {
    padding-bottom: 1em;
    padding-top: 0.5em;
    color: #00b6f1;
}
.title{
    padding-bottom: 0;
    border-bottom: 2px solid #007fb9;
}
.info{
    height: 35%;
    color: #000;
}
.committees .container a {
    padding: 1em;
    text-decoration: none;
}
