.contact .container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
}
.title{
    padding: 3em;
    padding-bottom: 0;
}

.contact-form {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    max-width: 60%;
    justify-content: center;
}

.contact-form p {
    font-size: 1.5em;
}

.msg {
    text-align: left;
    width: 50%;
    border-right:2px solid #fff;
    padding-right: 1em;
}
.form{
    flex-direction: column;
    flex-flow:column;
    text-align: left;
    padding: 2em;
    width: 50%;
}

@media (max-width: 800px) {
    .contact-form{
        display: block;
    }
    .msg {
        text-align: center;
        width: 100%;
        border-right: none;
    }
    .form {
        text-align: center;
        width: 100%;
        padding: 0;
        padding-top: 1em;
    }
}